@model NUEVO.EmlakOfisi.Case.Entity.DTO.Ilan.CreateIlanDto

@{
    ViewData["Title"] = "Create";
    if (ViewBag.layout == "~/Views/Member/_MemberLayout.cshtml")
    {
        Layout = "~/Views/Member/_MemberLayout.cshtml";
    }
}

<h2>Create</h2>

<h4>CreateIlanDto</h4>
<hr />
@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IlanBasligi" class="control-label"></label>
                    <input asp-for="IlanBasligi" class="form-control" />
                    <span asp-validation-for="IlanBasligi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IlanIcerigi" class="control-label"></label>
                    <input asp-for="IlanIcerigi" class="form-control" />
                    <span asp-validation-for="IlanIcerigi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fiyat" class="control-label"></label>
                    <input asp-for="Fiyat" class="form-control" />
                    <span asp-validation-for="Fiyat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Tur" /> @Html.DisplayNameFor(model => model.Tur)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="OdaSayisi" class="control-label"></label>
                    <input asp-for="OdaSayisi" class="form-control" />
                    <span asp-validation-for="OdaSayisi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BanyoSayisi" class="control-label"></label>
                    <input asp-for="BanyoSayisi" class="form-control" />
                    <span asp-validation-for="BanyoSayisi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BulunduguKat" class="control-label"></label>
                    <input asp-for="BulunduguKat" class="form-control" />
                    <span asp-validation-for="BulunduguKat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BinaToplamKatSayisi" class="control-label"></label>
                    <input asp-for="BinaToplamKatSayisi" class="form-control" />
                    <span asp-validation-for="BinaToplamKatSayisi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmlakTuruId" class="control-label">Emlak Türü</label>
                    <select asp-for="EmlakTuruId" class="form-control">
                        @foreach (var item in Model.EmlakTurus)
                        {
                            <option value="@item.Id">@item.EmlakTuruAdi</option>
                        }
                    </select>
    <label asp-for="EmlakTuruId" class="control-label"></label>
        <input asp-for="EmlakTuruId" class="form-control" />
        <span asp-validation-for="EmlakTuruId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId" class="control-label">Ülke</label>
        <select asp-for="CountryId" class="form-control">
            @foreach (var item in Model.Countries)
            {
                <option value="@item.Id">@item.CountryName</option>
            }
        </select>
    <label asp-for="CountryId" class="control-label"></label>
        <input asp-for="CountryId" class="form-control" />
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CityId" class="control-label">Şehir</label>
        <select asp-for="CityId" class="form-control">
            @foreach (var item in Model.Cities)
            {
                <option value="@item.Id">@item.CityName</option>
            }
        </select>
    <label asp-for="CityId" class="control-label"></label>
        <input asp-for="CityId" class="form-control" />
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="İlan Oluştur" class="btn btn-default" />
    </div>
    </form>
    </div>
    </div>*@
<!-- Titlebar
================================================== -->
<div id="titlebar" class="submit-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><i class="fa fa-plus-circle"></i> Yeni İlan Oluştur</h2>
            </div>
        </div>
    </div>
</div>


<!-- Content
================================================== -->
<div class="container">
    <div class="row">

        <!-- Submit Page -->
        <div class="col-md-12">
            <div class="submit-page">
                <form asp-action="Create">
                    <!-- Section -->
                    <h3>Emlak Bilgileri</h3>
                    <div class="submit-section">

                        <!-- Title -->
                        <div class="form-group">
                            <h5>İlan Başlığı <i class="tip" data-tip-content="İlana ait kısa başlığı bu alana giriniz."></i></h5>
                            @*<input class="search-field" type="text" value="" />*@
                            <input asp-for="IlanBasligi" class="form-control" />

                        </div>
                        <div class="form-group">
                            <h5>İlan Görsel Linki <i class="tip" data-tip-content="İlana ait görsel linkini bu alana giriniz."></i></h5>
                            @*<input class="search-field" type="text" value="" />*@
                            <input asp-for="GorselLinki" class="form-control" />

                        </div>

                        <!-- Row -->
                        <div class="row with-forms">

                            <!-- Status -->
                            <div class="col-md-6 form-group">
                                <h5>Emlak Türü</h5>
                                <select asp-for="EmlakTuruId" class="chosen-select-no-single">
                                    @foreach (var item in Model.EmlakTurus)
                                    {
                                        <option value="@item.Id">@item.EmlakTuruAdi</option>
                                    }
                                </select>
                            </div>

                            <!-- Type -->
                            <div class="col-md-6 form-group">
                                <h5>İlan Türü</h5>
                                <select asp-for="Tur" class="chosen-select-no-single">
                                    <option value="true">Satılık</option>
                                    <option value="false">Kiralık</option>
                                </select>
                            </div>

                        </div>
                        <!-- Row / End -->
                        <!-- Row -->
                        <div class="row with-forms">

                            <!-- Price -->
                            <div class="col-md-3 form-group">
                                <h5>Fiyat <i class="tip" data-tip-content="İlana ait fiyatı bu alana girmelisiniz."></i></h5>
                                <div class="select-input disabled-first-option form-group">
                                    <input asp-for="Fiyat" type="number" data-unit="₺">
                                    <span asp-validation-for="Fiyat" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Area -->
                            <div class="col-md-3 form-group">
                                <h5>Metrekare</h5>
                                <div class="select-input disabled-first-option form-group">
                                    <input asp-for="Metrekare" type="number" data-unit="m²">
                                </div>
                            </div>

                            <!-- Rooms -->
                            <div class="col-md-3 form-group">
                                <h5>Oda Sayısı</h5>
                                <select asp-for="OdaSayisi" class="chosen-select-no-single">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>

                            <div class="col-md-3 form-group">
                                <h5>Banyo Sayısı</h5>
                                <select asp-for="BanyoSayisi" class="chosen-select-no-single">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>

                        </div>
                        <!-- Row / End -->

                    </div>
                    <!-- Section / End -->
                    <!-- Section -->
                    <h3>Lokasyon</h3>
                    <div class="submit-section">

                        <!-- Row -->
                        <div class="row with-forms">
                            <!-- Address -->
                            <div class="col-md-6 form-group">
                                <h5>Ülke</h5>
                                <select asp-for="CountryId" class="form-control">
                                    @foreach (var item in Model.Countries)
                                    {
                                        <option value="@item.Id">@item.CountryName</option>
                                    }
                                </select>
                            </div>

                            <!-- City -->
                            <div class="col-md-6 form-group">
                                <h5>Şehir</h5>
                                <select asp-for="CityId" class="form-control">
                                    @foreach (var item in Model.Cities)
                                    {
                                        <option value="@item.Id">@item.CityName</option>
                                    }
                                </select>
                            </div>

                        </div>
                        <!-- Row / End -->

                    </div>


                    <div class="divider"></div>
                    @*<a href="#" class="button preview margin-top-5">Preview <i class="fa fa-arrow-circle-right"></i></a>*@
                    <div class="form-group">
                        <input type="submit" value="İlan Oluştur" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

