@model List<NUEVO.EmlakOfisi.Case.Entity.DTO.Ilan.ListIlanProfileDto>
@{
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<!-- Titlebar
        ================================================== -->
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>İlanlarım</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/member/profil">Profilim</a></li>
                        <li>İlanlarım</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


<!-- Content
================================================== -->
<div class="container">
    <div class="row">


        <!-- Widget -->
        <div class="col-md-4">
            <div class="sidebar left">

                <div class="my-account-nav-container">

                    <ul class="my-account-nav">
                        <li class="sub-nav-title">Hesabım</li>
                        <li><a href="/member/profil" class="current"><i class="sl sl-icon-user"></i> Profilim</a></li>
                        <li><a href="/member/ilanlarim"><i class="sl sl-icon-docs"></i> İlanlarım</a></li>
                        <li><a href="/ilan/create"><i class="sl sl-icon-action-redo"></i> Yeni İlan Oluştur</a></li>
                        <li><a href="/member/passwordchange"><i class="sl sl-icon-lock"></i> Şifre Değiştir</a></li>
                        <li><a href="#"><i class="sl sl-icon-power"></i> Çıkış Yap</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-md-8">
            <table class="manage-table responsive-table">

                <tr>
                    <th><i class="fa fa-file-text"></i> İlan</th>
                    <th class="expire-date"><i class="fa fa-calendar"></i> Oluşturma Tarihi</th>
                    <th></th>
                </tr>

                <!-- Item #1 -->
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="title-container">
                                <img src="@item.GorselLinki" alt="">
                                <div class="title">
                                    <h4><a href="#">@item.IlanBasligi</a></h4>
                                    <span>İlan Id: @item.Id </span>
                                    <span>@item.CityName , @item.CountryName </span>
                                    <span class="table-property-price">Fiyat: @item.Fiyat</span>
                                    <span>Metrekare: @item.Metrekare </span>
                                    <span>Emlak Türü: @item.EmlakTuru </span>

                                    @{
                                        if (item.Tur)
                                        {
                                            <span>İlan Türü: Satılık </span>
                                        }
                                        else
                                        {
                                            <span>İlan Türü: Kiralık </span>
                                        }
                                    }
                                    <span>Oda: @item.OdaSayisi - Banyo: @item.BanyoSayisi </span>
                                </div>
                            </td>
                            <td class="expire-date">@item.OlusturmaTarihi.ToShortDateString()</td>
                            @*<td class="action">
                                <a class="delete" asp-action="IlanDuzenle" asp-route-id="@item.IlanId">Güncelle</a>
                            </td>*@
                            <td class="action">
                                @*<form asp-action="IlanDuzenle" asp-route-id="@item.IlanId" method="post">
                                    <button class="btn btn-success" type="submit">Güncelle</button>
                                </form>*@
                                <a href="/member/ilanduzenle/@item.Id" class="btn btn-primary">Güncelle</a>
                            </td>

                            <td class="action">
                                <form asp-action="IlanSil" asp-route-id="@item.Id" method="post">
                                    <button class="btn btn-dark" type="submit">Sil</button>
                                    @*<a class="delete" type="submit"><i class="fa fa-remove"></i> Sil</a>*@
                                </form>
                            </td>
                        </tr>
                    }
                }
            </table>
            @*<a href="submit-property.html" class="margin-top-40 button">Submit New Property</a>*@
        </div>

    </div>
</div>