@model UpdateUserDto
@{
    if (ViewBag.layout == "~/Views/Member/_MemberLayout.cshtml")
    {
        Layout = "~/Views/Member/_MemberLayout.cshtml";
    }
}
@*@model IEnumerable<NUEVO.EmlakOfisi.Case.Entity.DTO.Ilan.ListIlanProfileDto>

    @{
        ViewData["Title"] = "Profil";
    }

    <h2>Profil</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IlanBasligi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IlanIcerigi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fiyat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OdaSayisi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BanyoSayisi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BulunduguKat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BinaToplamKatSayisi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmlakTuruId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GorselLinki)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IlanBasligi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IlanIcerigi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiyat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OdaSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BanyoSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BulunduguKat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BinaToplamKatSayisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmlakTuruId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GorselLinki)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>*@

@{
    if (ViewBag.success == "true")
    {
        <div class="notification success closeable">
            <p><span>İşlem Başarılı! </span> Bilgileriniz başarılı bir şekilde güncellenmiştir.</p>
            <a class="close" href="#"></a>
        </div>
    }
}

<!-- Titlebar
        ================================================== -->
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Hesabım</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/home">Anasayfa</a></li>
                        <li>Hesabım</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


<!-- Content
================================================== -->
<div class="container">
    <div class="row">


        <!-- Widget -->
        <div class="col-md-4">
            <div class="sidebar left">

                <div class="my-account-nav-container">

                    <ul class="my-account-nav">
                        <li class="sub-nav-title">Hesabım</li>
                        <li><a href="/member/profil" class="current"><i class="sl sl-icon-user"></i> Profilim</a></li>
                        <li><a href="/member/ilanlarim"><i class="sl sl-icon-docs"></i> İlanlarım</a></li>
                        <li><a href="/ilan/create"><i class="sl sl-icon-action-redo"></i> Yeni İlan Oluştur</a></li>
                        <li><a asp-action="PasswordChange" asp-controller="Member"><i class="sl sl-icon-lock"></i> Şifre Değiştir</a></li>
                        <li><a asp-action="Logout" asp-controller="Member"><i class="sl sl-icon-power"></i> Çıkış Yap</a></li>
                    </ul>

                </div>

            </div>
        </div>

        <div class="col-md-8">
            <div class="row">


                <div class="col-md-8 my-profile">
                    <h4 class="margin-top-0 margin-bottom-30">Bilgilerim</h4>

                    @*<label>Ad</label>
                        <input value="@Model.Ad" type="text">

                        <label>Soyad</label>
                        <input value="@Model.Soyad" type="text">

                        <label>Firma</label>
                        <input value="@Model.FirmaAdi" type="text">

                        <label>Email</label>
                        <input value="@Model.Email" type="text">

                        <button class="button margin-top-20 margin-bottom-20">Kaydet</button>*@

                    <form asp-action="Profil">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Ad" class="control-label"></label>
                            <input asp-for="Ad" class="form-control" />
                            <span asp-validation-for="Ad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Soyad" class="control-label"></label>
                            <input asp-for="Soyad" class="form-control" />
                            <span asp-validation-for="Soyad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirmaAdi" class="control-label"></label>
                            <input asp-for="FirmaAdi" class="form-control" />
                            <span asp-validation-for="FirmaAdi" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Kaydet ve Güncelle" class="btn btn-default" />
                        </div>
                    </form>
                </div>

                <!--<div class="col-md-4">-->
                <!-- Avatar -->
                <!--<div class="edit-profile-photo">
                        <img src="images/agent-02.jpg" alt="">
                        <div class="change-photo-btn">
                            <div class="photoUpload">
                                <span><i class="fa fa-upload"></i> Upload Photo</span>
                                <input type="file" class="upload" />
                            </div>
                        </div>
                    </div>

                </div>-->


            </div>
        </div>

    </div>
</div>
<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>